.container{
    background-color: rgb(255, 192, 235);
    padding: 25px;
}

.card{
    background-color: white;
    width: 150px;
    text-align: center;
    padding: 25px;
    border-radius: 20px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
img {
    width: 75px;
}